<div class="show-comments">
    <button id="show-comments-button" onclick="disqus();return false;">Show Comments</button>
</div>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{site.disqus}}'; 
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        //Opens comments when linked to directly
        var hash = window.location.hash.substr(1);
        if (hash.length > 8) {
            if (hash.substring(0, 8) == "comment-") {
                disqus();
            }
        }
        //Remove this if you don't want to load comments for search engines
        if(/bot|google|baidu|bing|msn|duckduckgo|slurp|yandex/i.test(navigator.userAgent)) {
        disqus();
        }
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>