@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.page, .post {
  h1, h2 {
    font-size: 24px;
    color: var(--link-color) !important;
    text-align: center;
  }
}

.post-entry .post-title {
  font-size: 22px;
}

.post .post-meta {
  text-align: center;
}

svg {
    vertical-align: -3px;
  }

.post-excerpt {
    margin: 5px 0 0 0;
  }

a.social-icon {
    margin-right: .5em;
    text-decoration: none;
  }

.masthead-title {
    font-weight: normal !important;
  }

  .sidebar-toggle {
    margin-top: 3px;
  }
  
figure.highlight {
  font-size: 16px;
}

#show-comments {
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: inherit;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin: 0px 0px;
  width: 100%;
}
