@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.page, .post {
  h1 {
    font-size: 24px;
    color: var(--heading-color);
  }
}

h2 .post-title {
  font-size: 24px;
}

svg {
    vertical-align: -3px;
  }

.post-excerpt {
    margin: 5px 0 0 0;
  }

a.social-icon {
    margin-right: .5em;
    text-decoration: none;
  }

.masthead-title {
    font-weight: normal !important;
  }
  
figure.highlight {
  font-size: 16px;
}