@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.page, .post {
  h1, h2 {
    font-size: 24px;
    color: var(--link-color) !important;
    text-align: center;
  }
}

.post-entry .post-title {
  font-size: 22px;
  font-weight: normal;
}

.post .post-meta {
  text-align: center;
  margin-top: var(--spacer);
}

svg {
    vertical-align: -3px;
  }

.post-excerpt {
    margin: 5px 0 0 0;
  }

a.social-icon {
    margin-right: .5em;
    text-decoration: none;
  }

.masthead-title {
    font-weight: normal !important;
  }

.sidebar-toggle {
  margin-top: 6px;
}
  
figure.highlight {
  font-size: 16px;
}

#show-comments {
  background-color: var(--body-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: inherit;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin: 0px 0px;
  width: 50%;
}

.comments-block {
  font-size: small;
  text-align: center;
}

.post-categories {
  font-size: small;
  margin-top: var(--spacer);
}

.post-tags {
  font-size: small;
  margin-bottom: var(--spacer);
}

.post-home-categories {
  margin-top: .5em;
}

.page-home-taxonomy {
  display: inline-block;
  color: $oc-orange-8;
  text-decoration: none;
  border: 1px solid $oc-orange-9;
  padding: 2px 5px;
  border-radius: 2px;
  transition: color 0.2s;
  margin-bottom: 8px;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    }
}

.page-taxonomy-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 0 10px;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--border-color);
  background-color: var(--body-bg);
  border-radius: var(--border-radius);

  &:hover {
  text-decoration: none;
  color: var(--body-color);
  border: 1px solid var(--link-color);
  background-color: var(--link-color);
  }
}

input[type="text"], input[type="email"], input[type="search"], 
input[type="submit"], button, textarea { 
  padding: .5em 1em;
  border-radius: 10px; 
  margin-bottom: 1em;
}
textarea { width: 73%; }

#search-input {
	-webkit-appearance: none;
	display: block;
	margin: 0;
	padding: 5px 10px 5px 25px;
	width: 100%;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-left: 5px solid transparent;
	line-height: 2.5;
  border-radius: 0 !important;
	&:focus {
		outline: none;
		border-left-color: var(--link-color);
	}
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 25px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}