$sm-screen: 35.5rem;
$md-screen: 48rem;
$lg-screen: 64rem;
$xl-screen: 80rem;

:root {
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);

  --body-font: 'Lato', sans-serif;
  --body-font-size: 20px;
  --body-line-height: 1.5;
  --body-color: #{$oc-gray-9};
  --body-bg: #{$oc-white};

  --link-color: #{$oc-orange-9};

  --heading-font: 'Lato', sans-serif;
  --heading-color: #{$oc-black};

  --code-font: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  --code-bg: #{$oc-gray-2};

  --border-radius: .8em;
  --border-color: #{$oc-gray-5};

  --sidebar-width: 16rem;
  --sidebar-color: #{$oc-gray-5};
  --sidebar-bg: #{$oc-gray-8};
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #{$oc-gray-3};

    --body-bg: #{$oc-gray-9};

    --link-color: #{$oc-yellow-5};

    --heading-color: #{$oc-white};

    --code-bg: #{$oc-gray-7};

    --border-color: #{$oc-gray-7};
  }
}

@media (min-width: $md-screen) {
  :root {
    --body-font-size: 20px;

    --sidebar-width: 20rem;
  }  
}
