---
layout: default
---

{{ content }}

<div class="posts">
  {% assign posts = site.posts %}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% endif %}
  {% for post in posts %}
    <div class="post-entry">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-meta">{{ post.date | date_to_string }}</time>
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>
      <p class="post-excerpt">
        {% if post.description %}
          {{ post.description | strip_html  | truncatewords:15 }}
        {% else %}
          {{ post.excerpt | strip_html  | truncatewords:15 }}
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>

{% if paginator %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-item left" href="{{ paginator.previous_page_path | relative_url }}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
      <span class="pagination-item left"><i class="fas fa-chevron-left"></i></span>
    {% endif %}
    {% if paginator.next_page %}
      <a class="pagination-item right" href="{{ paginator.next_page_path | relative_url }}"><i class="fas fa-chevron-right"></i></a>
    {% else %}
      <span class="pagination-item right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="18px" height="18px"><path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/></svg></span>
    {% endif %}
  </div>
{% endif %}
