---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    {%- if page.author -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16px" height="16px" fill="var(--body-color)"><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
      {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author }}</span><span>&nbsp;&nbsp;&nbsp;</span>
        {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
    {%- endif -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16px" height="16px" fill="var(--body-color)"><path d="M13.5 3H12V1.5a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 0-.5.5V3H6V1.5a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 0-.5.5V3H1.5a.5.5 0 0 0-.5.5v11a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-.5-.5zM10 2h1v2h-1V2zM4 2h1v2H4V2zm9 12H2V6h11v8z"/></svg>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date_to_string }}<span>&nbsp;&nbsp;</span>
    </time>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16px" height="16px" fill="var(--body-color)"><path d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"/></svg><span>&nbsp;{%- include read-time.html -%}</span>
  </div>

  {{ content }}

  <div class="last-mod">
    {%- if page.last_modified_at -%}
      Last update:
      {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
      <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date_to_string }}
      </time>
    {%- endif -%}
  </div>
  <hr>
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16px" height="16px" fill="var(--body-color)"><path d="M447.1 96h-172.1L226.7 50.75C214.7 38.74 198.5 32 181.5 32H63.1c-35.35 0-64 28.66-64 64v320c0 35.34 28.65 64 64 64h384c35.35 0 64-28.66 64-64V160C511.1 124.7 483.3 96 447.1 96zM463.1 416c0 8.824-7.178 16-16 16h-384c-8.822 0-16-7.176-16-16V96c0-8.824 7.178-16 16-16h117.5c4.273 0 8.293 1.664 11.31 4.688L255.1 144h192c8.822 0 16 7.176 16 16V416z"/></svg>
    {% for category in categories %}
    <a class="page-taxonomy-item" href="{{site.baseurl}}/kategori/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}{% endunless %}
    {% endfor %}
  </div>
  <div class="post-tags">
    {% if post %}
      {% assign tags = post.tags %}
    {% else %}
      {% assign tags = page.tags %}
    {% endif %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16px" height="16px" fill="var(--body-color)"><path d="M48 32H197.5C214.5 32 230.7 38.74 242.7 50.75L418.7 226.7C443.7 251.7 443.7 292.3 418.7 317.3L285.3 450.7C260.3 475.7 219.7 475.7 194.7 450.7L18.75 274.7C6.743 262.7 0 246.5 0 229.5V80C0 53.49 21.49 32 48 32L48 32zM112 176C129.7 176 144 161.7 144 144C144 126.3 129.7 112 112 112C94.33 112 80 126.3 80 144C80 161.7 94.33 176 112 176z"/></svg>
    {% for tag in tags %}
    <i>{{tag}}</i>
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
  </div>

{% if page.comments %}
<div><br/></div>
<div class="comments-block">
  <button id="show-comments" onclick="disqus();return false;">Komentar</button>
</div>

<div id="disqus_thread"></div>

<script>
var disqus_loaded = false;
var disqus_shortname = '{{site.disqus}}'; //Add your shortname here

function disqus() {

  if (!disqus_loaded)  {
      disqus_loaded = true;

      var e = document.createElement("script");
      e.type = "text/javascript";
      e.async = true;
      e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      (document.getElementsByTagName("head")[0] ||
      document.getElementsByTagName("body")[0])
      .appendChild(e);

      //Hide the button after opening
      document.getElementById("show-comments").style.display = "none";
  }
}

//Opens comments when linked to directly
var hash = window.location.hash.substr(1);
if (hash.length > 8) {
  if (hash.substring(0, 8) == "comment-") {
      disqus();
  }
}
</script>
{% endif %}
</article>


<div class="post-pagination">
  {% if page.previous %}
    <a class="post-pagination-item left" href="{{ page.previous.url | relative_url }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="18px" height="18px" fill="var(--body-color)"><path d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"/></svg> <span class="post-pagination-title">{{ page.previous.title | markdownify | strip_html | truncate:30 }}</span>
    </a>
  {% else %}
    <span class="post-pagination-item left"></span>
  {% endif %}
  
  {% if page.next %}
    <a class="post-pagination-item right" href="{{ page.next.url | relative_url }}">
      <span class="post-pagination-title">{{ page.next.title | markdownify | strip_html | truncate:30 }}</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="18px" height="18px" fill="var(--body-color)"><path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/></svg>
    </a>
  {% else %}
    <span class="post-pagination-item right"></span>
  {% endif %}
</div>
