---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date_to_string }}
    </time>
    {%- if page.last_modified_at -%}
      ~
      {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
      <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date_to_string }}
      </time>
    {%- endif -%}
    {%- if page.author -%}
      •
      {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author }}</span>
        {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
    {%- endif -%}
  </div>

  {{ content }}

  <!-- Disable disqus temporary
  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
-->

</article>

<div class="post-pagination">
  {% if page.previous %}
    <a class="post-pagination-item left" href="{{ page.previous.url | relative_url }}">
      <svg class="navi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="18px" height="18px" fill="var(--body-color)"><path d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"/></svg> <span class="post-pagination-title">{{ page.previous.title | markdownify | strip_html }}</span>
    </a>
  {% else %}
    <span class="post-pagination-item left"></span>
  {% endif %}
  
  {% if page.next %}
    <a class="post-pagination-item right" href="{{ page.next.url | relative_url }}">
      <span class="post-pagination-title">{{ page.next.title | markdownify | strip_html }}</span> <svg class="navi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="18px" height="18px" fill="var(--body-color)"><path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/></svg> 
    </a>
  {% else %}
    <span class="post-pagination-item right"></span>
  {% endif %}
</div>
